<h3>Demo</h3>

<div style="color: @(Ready ? "forestgreen" : "red")">Please wait until it says ready here: @(Ready? "ready" : "waiting...")</div>

We are waiting until the very first render cycle is complete.

<Components.Reference />
<Components.ShowsRenderOverhead />
<Components.ShowsNorenderWorkaround />

<hr />
The code for the component that is re-rendered or not is:
<br />
<code>
    @@if (!Show)
    {
    return;
    }
    &lt;button @@onclick='() =&gt; { Value += 1; ValueChanged.InvokeAsync(Value); }'>Increment @@Value to @@(Value + 1)&lt;/button&gt;
</code>

<code>Show</code> is true for the first item in the list of @Foo.N items, and false for all the others.

@code {
    private bool Ready { get; set; }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Ready = true;
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}
