<div>
    <span><!--Empty--></span>
    <div style="width: 1px; height: 1px; background-color: turquoise; color: purple"></div>
    <span style="display: none">This text isn't displayed, but of course <b>there is markup</b> to be @if(true) { <i>rendered</i> }</span>
</div>