<h4>Shows render overhead</h4>

This section shows the overhead of bind. We have @N elements (just the first is displayed, but the others will still be consume time, if rendered)

@foreach (var element in Elements)
{
    var first = Elements.First();
    <BindTo @bind-Value="@element.Value" Show="@(element == first)" />
}
<hr />
@code {
    [Parameter] public int N { get; set; }
    protected override void OnInitialized()
    {
        Elements = Enumerable.Range(0, N).Select(i => new Foo { Value = i }).ToList();
        base.OnInitialized();
    }
    protected override void OnParametersSet()
    {
        if (Elements == null || Elements.Count != N)
        {
            Elements = Enumerable.Range(0, N).Select(i => new Foo { Value = i }).ToList();
        }
        base.OnParametersSet();
    }
    private List<Foo> Elements;
}